:root {
  --layered-red-30: #912337;
  --layered-red-40: #a5283e;
  --layered-red-50: #BA2D46;
  --layered-red-60: #ce334e;
  --layered-red-70: #d34760;
  --layered-orange-30: #9e501f;
  --layered-orange-40: #b45a23;
  --layered-orange-50: #C96527;
  --layered-orange-60: #d77132;
  --layered-orange-70: #db8048;
  --layered-yellow-30: #906823;
  --layered-yellow-40: #a47628;
  --layered-yellow-50: #B9852D;
  --layered-yellow-60: #cd9432;
  --layered-yellow-70: #d29e47;
  --layered-green-30: #507d46;
  --layered-green-40: #5b8e4f;
  --layered-green-50: #659E58;
  --layered-green-60: #72aa66;
  --layered-green-70: #81b376;
  --layered-teal-30: #2b6790;
  --layered-teal-40: #3175a3;
  --layered-teal-50: #3783B7;
  --layered-teal-60: #4190c6;
  --layered-teal-70: #559ccc;
  --layered-blue-30: #1d5ae5;
  --layered-blue-40: #346ae7;
  --layered-blue-50: #4B7BEA;
  --layered-blue-60: #628ced;
  --layered-blue-70: #799cef;
  --layered-purple-30: #742a79;
  --layered-purple-40: #86308c;
  --layered-purple-50: #98379F;
  --layered-purple-60: #aa3eb2;
  --layered-purple-70: #b849c0;
  --layered-silver-30: #a2a2a2;
  --layered-silver-40: #aeaeae;
  --layered-silver-50: #BBBBBB;
  --layered-silver-60: #c8c8c8;
  --layered-silver-70: #d5d5d5;
  --layered-grey-30: #454545;
  --layered-grey-40: #515151;
  --layered-grey-50: #5E5E5E;
  --layered-grey-60: #6b6b6b;
  --layered-grey-70: #787878;
  --layered-black-10: #1E1E1E;
  --layered-black-20: #212121;
  --layered-black-30: #232323;
  --layered-black-40: #262626;
  --layered-black-50: #282828;
  --layered-white-60: whitesmoke;
  --layered-white-70: #f7f7f7;
  --layered-white-80: #fafafa;
  --layered-white-90: #fcfcfc;
  --layered-white-100: #FFFFFF;
}

body.theme-light {
  --layered-shadow-color: rgba(30, 30, 30, 0.25);
  --background-primary: var(--layered-white-100);
  --background-primary-alt: var(--layered-white-90);
  --background-secondary: var(--layered-white-80);
  --background-secondary-alt: var(--layered-white-60);
  --scrollbar-active-thumb-bg: rgba(30, 30, 30, 0.125);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: rgba(30, 30, 30, 0.1);
  --text-accent: var(--layered-grey-60);
  --text-accent-hover: var(--layered-grey-70);
  --text-normal: var(--layered-black-30);
  --text-muted: var(--layered-silver-30);
  --text-muted-rgb: 162, 162, 162;
  --text-faint: var(--layered-grey-50);
  --text-error: var(--layered-red-50);
  --text-error-hover: var(--layered-red-60);
  --text-highlight-bg: color.adjust($yellow-70, $alpha: -0.66);
  --text-highlight-bg-active: var(--layered-silver-60);
  --text-selection: var(--layered-silver-70);
  --text-on-accent: #dcddde;
}

body.theme-dark {
  --layered-shadow-color: rgba(255, 255, 255, 0.15);
  --background-primary: var(--layered-black-40);
  --background-primary-alt: var(--layered-back-30);
  --background-secondary: var(--layered-black-20);
  --background-secondary-alt: var(--layered-black-10);
  --text-error: var(--layered-red-70);
}

:root {
  /*
  Default values for the font setting managed by the Style Settings plugin.
  This ensures that the theme works for users without the plugin.
  */
  --layered-font: 3px;
  /*
  The scale coefficient is calculated as (1.5x + 10.5), where x is the value
  of var(--layered-font), which is either set by Style Settings or above.
  */
  --layered-font-scale: calc(1.5 * var(--layered--font) + 10.5px);
  /*
  Stock font sizes
  */
  --layered-font-xxs: calc(var(--layered-font-scale) * 7 / 8);
  --layered-font-xs: var(--layered-font-scale);
  --layered-font-s: calc(var(--layered-font-scale) * 9 / 8);
  --layered-font-m: calc(var(--layered-font-scale) * 5 / 4);
  --layered-font-l: calc(var(--layered-font-scale) * 11 / 8);
  --layered-font-xl: calc(var(--layered-font-scale) * 3 / 2);
  --layered-font-xxl: calc(var(--layered-font-scale) * 7 / 4);
}

body {
  /*
  Overriding Obsidian's font families.
  */
  --font-interface-theme: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-text-theme: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace-theme: "Source Code Pro", monospace;
  /*
  Overriding Obsidian's font sizes.
  */
  --font-text-size: var(--layered-font-xs);
  --h1: var(--layered-font-xxl);
  --h2: var(--layered-font-xl);
  --h3: var(--layered-font-l);
  --h4: var(--layered-font-m);
  --h5: var(--layered-font-s);
  --h6: var(--layered-font-xs);
}

:root {
  /*
  Default values for the UI setting managed by the Style Settings plugin.
  This ensures that the theme works for users without the plugin.
  */
  --layered-ui: 3px;
  /*
  The scale coefficient is calculated as (0.5x + 2.5), where x is the value
  of var(--layered-ui), which is either set by Style Settings or above.
  */
  --layered-ui-scale: calc(0.5 * var(--layered-ui) + 2.5px);
  /*
  Stock UI sizes.
  */
  --layered-ui-xxs: var(--layered-ui-scale);
  --layered-ui-xs: calc(var(--layered-ui-scale) * 2);
  --layered-ui-s: calc(var(--layered-ui-scale) * 4);
  --layered-ui-m: calc(var(--layered-ui-scale) * 8);
  --layered-ui-l: calc(var(--layered-ui-scale) * 12);
  --layered-ui-xl: calc(var(--layered-ui-scale) * 10);
  --layered-ui-xxl: calc(var(--layered-ui-scale) * 16);
}

.workspace {
  /*
  Customize the z-indexes to:

  1. Put the status bar beneath the main content.
  2. Raise the splits above the side socks.
  3. Raise the root above the splits.

  We'll then apply box shadows to create the namesake layered effect.
  */
  --layer-status-bar: 10;
  --layer-sidedock: 15;
  --layer-split: 20;
  --layer-root: 25;
  --layered-shadow-border: var(--background-secondary);
  --layered-shadow-size: var(--layered-ui-s);
  --layered-shadow: 0 0 0 1px var(--layered-shadow-border), 1px 0 var(--layered-shadow-size) 0 var(--layered-shadow-color);
}

.workspace > .mod-left-split,
.workspace > .mod-right-split {
  z-index: var(--layer-split);
}

.workspace > .mod-root {
  z-index: var(--layer-root);
}

.workspace > .mod-root > .workspace-leaf,
.workspace > .mod-right-split,
.workspace > .mod-left-split {
  box-shadow: var(--layered-shadow) !important;
}

/*
features/scrollbar.scss - Styles the scrollbar

This file uses a background-clip trick to create an 8px rectangular scrollbar,
inset 4px from the content. Since CSS variables aren't accessible from the
::-webkit-scrollbar pseudo-elements, we need to stub in the default values, and
the scrollbars will not scale with the UI size. 
*/
body:not(.native-scrollbars) ::-webkit-scrollbar {
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  height: 12px;
  width: 12px;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-track {
  margin: 4px;
}

/* @settings

name: Layered Theme
id: layered-theme
settings:
  -
    id: layered-icons
    title: Customized Icons
    description: Use a simpler set of icons.
    type: class-toggle
    default: true
  -
    id: layered-ui
    title: UI Size
    description: The interface size for the layered theme.
    type: variable-number-slider
    default: 3
    format: px
    min: 1
    max: 5
    step: 1
  -
    id: layered-font
    title: Font Size
    description: The base font size for the layered theme.
    type: variable-number-slider
    default: 3
    format: px
    min: 1
    max: 5
    step: 1
*/
